.classpath
.project
.settings
.externalToolBuilders
*.orig
.springBeans
*.iml
*.ipr
*.iws
*.ids
target
*.jar
log
lib
*.swp
maven-eclipse.xml
HREV*
*.log
*.log.zip
*.FDC
.pmd
.checkstyle
.timestamp.txt
catalog.xml
.metadata
.idea
nohup.out
nb-configuration.xml
test-output

# Java class files
*.class

#Gradle
.gradletasknamecache
.gradle/
gradle-wrapper.properties
gradlew
gradlew.bat
build/
bin/
